# Dependencias
node_modules/

# Archivos sensibles
.env

# Archivos de logs
npm-debug.log
yarn-error.log

# Build outputs innecesarios
*.zip
backend.zip

# Archivos del sistema
.DS_Store
Thumbs.db

# Cache
.cache/
.tmp/

# Carpetas que no deben subirse
dist/
# (OPCIONAL: si usas Dockerfile que compila dist,
# pero en tu caso dist sí debe subirse)

# Editor configs
.vscode/
.idea/

# Docker
docker-compose*
*.tar

#psql 'postgresql://neondb_owner:npg_kfwNOI9l7Sov@ep-tiny-salad-ah14b14k-pooler.c-3.us-east-1.aws.neon.tech/umss?sslmode=require&channel_binding=require'

